.question-text-area{
    width: 100%;
}

.page-heading {
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: x-large;
}

input, textarea, mat-option  {
    font-weight: bolder;
}